.fontstyle{
  	font-family: "Noto Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
  	font-variation-settings:"wdth" 100;
}

.container{
	display: flex;
	height: 100vh;
	background: black;
}

/* 左半邊 */
.left-section {
	flex: 1;  /* 左邊佔 50% */
  	background: url('/images/login.jpg') no-repeat center center;
  	background-size: cover;
}

/* 右邊登入表單區 */
.right-section {
	flex: 1;  /* 右邊佔 50% */
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.index{
	background: rgba(0, 0, 0, 0.5);  /* 黑色 50% 透明 */
	width:400px;
	padding: 30px;
	border-radius: 10px;
	text-align: center;
}

.h1, .h2{
	color:white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 文字陰影 */
}

.h2{
	color:white;
	font-size:25px;
}

.button-group {
  display: flex;
  align-items: center;      /* 垂直置中 */
  gap: 10px;                /* 元素之間的間距 */
  margin-bottom: 10px;      /* 與其他欄位分開 */
}

.button-group input {
  flex: 1;                  /* 輸入框填滿可用空間 */
}

.button-group img {
  height: 35px;             /* 控制驗證碼圖片大小，可依需求調整 */
  cursor: pointer;          /* 滑鼠變小手（用來刷新驗證碼） */
}

.button-group button {
  flex: 1;                  /* 輸入框填滿可用空間 */
}

a {
  color: #f6f6f6;
  text-decoration: none; /* 取消底線 */
}

a:hover {
  color: gray;
  text-decoration: underline; /* 滑過時加底線 */
}
